<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2026. Taurus. All rights reserved
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="locale">
                <field id="html_lang" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom HTML Lang</label>
                    <comment>Set a custom 'lang' attribute for the 'html' tag (e.g.: 'en-US'). Leave empty to use the Magento default value.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
